<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>Graylog is restarting</title>
<style>
<!--
        body {font-family: arial,sans-serif}
        img { border:none; }
//-->
</style>
</head>
<body>
<blockquote>
        <h2>Graylog is restarting...</h2>
        <p>There is no Graylog web application running at the moment, please reload this page in a minute. It can take up to 1-2 minutes until all services are running properly. In case this is a permanent error, check the following:
        <ul>
                  <li><b>Check if all services are running</b> - <code>sudo graylog-ctl status</code> shows an overview of all running services</li>
                  <li><b>Check for errors in log files</b> - Relevant services write log files here: <code>/var/log/graylog/*/current</code></li>
                  <li><b>Ask for help</b> - If there is no way to fix the issue ask for help: <a href="https://github.com/Graylog2/graylog2-images/issues">https://github.com/Graylog2/graylog2-images/issues</a></li>
        </ul>
</blockquote>
</body>
</html>
